@font-face {
    font-family: cascadiaMono;
    src: url(./CascadiaMono-Regular.otf);
}

:root {
    --foreground-color: #e9e5e1;
    --background-color: #29272a;
    --primary-color: #e19d24;
    --secondary-color: #b04c49;

    --sans-font: "Tahoma", Tahoma, Helvetica, sans-serif;
    --mono-font: "Cascadia Mono", cascadiaMono, Monaco, "Courier New", monospace;
}

body {
    background-image: url('resources/background.png');
    color: var(--foreground-color);
    background-color: var(--background-color);
}

a:link {
    color: var(--primary-color);
    
}

a:visited {
    color: var(--secondary-color);
}

code {
    font-family: var(--mono-font);
    font-size: 12px;
    line-height: 14px;
    
    border-left: 1px solid var(--primary-color);
    display: block;
    padding: 1ch;
    overflow: auto;
}

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

#textWrapper {
    width:100%;
    max-width: 152ch;
    min-width: 105ch;
    margin:auto;

    font-family: var(--mono-font);
    font-size: 12px;
    line-height: 14px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#ttr-header {
    font-family: var(--mono-font);
    font-size: 12px;
    line-height: 14px;

    height: 140px;
    padding: 1ch;
    border: 1px solid var(--primary-color);
    overflow: hidden;
    white-space:nowrap;
    margin-bottom: 20px;

    order: 0;
    flex-basis: 100%;
}

.ttr-bar {
    width: 100%;
    border-top: 1px solid var(--primary-color);
}

#ttr-body {
    width:1ch;
    padding:1ch;

    font-family: var(--sans-font);
    font-size: 14px;
    line-height: 16px;

    order: 1;
    flex-grow: 1;
}

.ttr-body-h1 {
    font-weight:400;
    font-size: 40px;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.ttr-body-h1-sub {
    margin-left: 10px;
    margin-bottom: 20px;
}

.ttr-body-h2 {
    font-weight:400;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

#ttr-links {
    width:25ch;
    padding:1ch;
    overflow: hidden;

    font-family: var(--sans-font);
    font-size: 14px;
    line-height: 16px;

    order: 2;
    flex-shrink: 0;
}

#ttr-links a {
    text-decoration: none; 
}

.ttr-button {
    width:23ch;
    padding:1ch;
    margin-bottom: 1ch;
    border: 1px solid var(--secondary-color);
    overflow: hidden;
}

.ttr-gallery {
    padding: 10px;
    /* border: 1px solid var(--primary-color); */
    margin-bottom: 1ch;
}

.ttr-gallery img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.ttr-gallery::after {
    content: ' ';
    display: table;
    clear: both;
}

.ttr-gallery-container {
    width: 80%;
    overflow: hidden;
    margin: 0;
    padding-top: 45%;
    position: relative;
    border: 1px solid var(--primary-color);

    float: left;
    margin-right: -100%;
}

.ttr-gallery-container:hover {
    transform: translate(-0.25%, -1%);
    z-index: 100;
    transition: 100ms linear;
}

#ttr-footer {
    padding: 1ch;
    border-top: 1px solid var(--primary-color);

    font-family: var(--sans-font);
    font-size: 14px;
    line-height: 16px;

    order: 3;
    flex-basis: 100%;
}